.ascii-art {
    font-family: monospace;
    white-space: pre;
}

.ascii-art p {
    margin-top: -15px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;    
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.normal {   font-weight: normal; }
.fett {     font-weight: bold; }

.bg1 {    background-color: black; }
.bg2 {    background-color: white; }


<!-- violet - red -->
.c1 {    color: #401B86; }
.c2 {    color: #2546C9; }
.c3 {    color: #2AD424; }
.c4 {    color: #F0EC25; }
.c5 {    color: #F07537; }
.c6 {    color: #DB3A4C; }



